html {
  width: 400px;
}

body {
  font-family: 'Segoe UI Web (West European)','Segoe UI','-apple-system',BlinkMacSystemFont,Roboto,'Helvetica Neue',Helvetica,Ubuntu,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-size: 100%;
}

h1 {
  margin-bottom: .5em;
}

.controls-group {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
