:root {
    color-scheme: light dark;
}

body {
  color: black;
  background: white;
}

html {
  width: 400px;
}

body {
  font-family: 'Segoe UI Web (West European)','Segoe UI','-apple-system',BlinkMacSystemFont,Roboto,'Helvetica Neue',Helvetica,Ubuntu,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-size: 100%;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

.controls-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

code {
  padding: 0.15rem;
  border: 1px solid black;
  background-color: #e9e9e9;
}

details {
  border: 1px solid black;
  cursor: pointer;
}

details p {
  margin-top: 0;
}

.box {
  padding: .5rem;
}

details:hover {
  background-color: #e9e9e9;
}

#message {
  position: absolute;
  border: 0;
  padding: 0;
  inset: 0;
  z-index: -1;
}


@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */

    body {
      color: white;
      background: #333;
    }
    code {
      padding: 0.15rem;
      border: 1px solid #e9e9e9;
      background-color: black;
    }

    details {
      border: 1px solid #e9e9e9;
      cursor: pointer;
    }

    details:hover {
      background-color: black;
    }
}
